
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-family: "Arial" sans-serif;
    color: hsl(0, 0%, 25%);
}




.parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    
}

.parent div {
    /* flex: 1; */
    background-color: lightgray;
    font-size: 2rem;
    font-family: monospace;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    gap: 5px;
    border-radius: 50%;
    box-shadow: 5px 3px 7px gray, 5px 3px 3px gray;
}

.parent div:hover {
    background-color: hwb(0 50% 70%);
    color: white;
    box-shadow: 5px 3px 7px rgba(229, 223, 223, 0.833), 5px 3px 7px rgb(228, 222, 222);

}

.btnparent {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btnparent button {
    width: 250px;
    padding: 18px;
    font-size: 1.5rem;
    font-family: monospace;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: gray;
    color: white;

}

